* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --red: #E3646E;
    --purple: #BB72E9;
    --blue: #3996DB;
    --green: #82BC4F;
    --yellow: #EABD5F;

    --gray-100: #0D0E11;
    --gray-200: #16181D;
    --gray-300: #292C34;
    --gray-400: #878EA1;
    --gray-500: #C0C4CE;
    --gray-600: #E2E4E9;

    --font-asap: "Asap", sans-serif;
    --title-lg: 700 56px/120% var(--font-asap);
    --title-md: 700 24px/120% var(--font-asap);
    --title-sm: 700 16px/120% var(--font-asap);

    --font-inconsolata: "Inconsolata", monospace;
    --subtitle: 400 20px/120% var(--font-inconsolata);

    --font-maven: "Maven Pro", sans-serif;
    --text-md: 400 16px/140% var(--font-maven);
    --text-sm: 400 14px/140% var(--font-maven);
    
    .grid-temp-row {
        display: flex;
    }

    h1 {
        font: var(--title-lg);
        color: var(--gray-600);
        margin-top: 8px;
    }

    h2 {
        color: var(--gray-600);
        font: var(--title-md);
    }

    span {
        color: var(--red);
        font: var(--subtitle);
    }

    .title-sm {
        font: var(--title-sm);
        color: var(--gray-600);
    }

    .text-sm {
        font: var(--text-sm);
        color: var(--gray-500);
    }
}